---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import vector from '../../public/image2vector.txt';
---

<Layout title="Pennington Discography">
	<main>
		<svg class="astro-a" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="495" height="623" viewBox="0 0 495 623" fill="none" aria-hidden="true">
			<g id="svgg">
		<path id="path0" d={vector} stroke="none" fill="#000000" fill-rule="evenodd" clip-rule="evenodd" fill="url(#paint0_linear_1805_24383)">
				</path>
			</g>
			
		</svg>
		
		<h1>Welcome to my<span class="text-gradient"> Discography</span> page.</h1>
		<p class="about">
			This is an effort to take direct ownership over my musical output.<br />
 			Donate if you'd like to help offset hosting costs, otherwise enjoy!</div><br />
			Physical copies of some of these titles can be found at <strong><a href="https://www.discogs.com/artist/1764669-Brian-Pennington">Discogs</a></strong>.<br />
			<a href="https://www.paypal.com/donate/?hosted_button_id=D7B5T5AZZY4VS">
				<input class="paypal-button" type="image" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" alt="Donate">
				<img alt="" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" > 
			</a>
		</p>
		<h3>(albums in 320k mp3 format unless otherwise noted)</h3>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://www.dropbox.com/scl/fi/5z1a629z4tgsuaoyuhnsx/Brian-Pennington-Trashscapes.zip?rlkey=8iirctipcejqhxd1p2srp2d66&dl=0"
				title="Trashscapes"
				year="2022"
				body="Acoustic guitar instrumentals over droney ambience and manipulated nature sounds, recorded live to 2-track tape at Electrical Audio."
				cover="trashscapesCover.jpg";
				songs={["Uninhabitable", "Temple of Higgs", "Late Stage Capitalism Blues", "A Pill for a Meal", "Capo 7", "The Brightening", "Poison Clouds", "Lonely Future"]} 
			/>
			<Card
				href="https://www.dropbox.com/scl/fi/4zi4eqqtjw74a6blhstt6/Lardo-SINKING.zip?rlkey=4n70bf0xtocj241vurjays1oe&dl=0"
				title="Lardo - Sinking"
				year="2017"
				body="Second album: a tighter and more punctuated effort recorded at Electrical Audio studio B and mixed throughout that year in Chicago."
				cover="sinking.jpeg"
				songs={["Hooked" , "Nothing" , "Swamped", "Watch Him Watch Her", "Swimmer", "Change in Time", "Call Me Karma", "Let Go", "The Wake", "Black Spots", "World War"]}
			/>
			<Card
				href="https://www.dropbox.com/scl/fi/of3c1cedskzqwkiwe8z7n/Lardo-GUNMETAL-EYES.zip?rlkey=e2p8wnsljoj05bm6e3hee9vpj&dl=0"
				title="Lardo - Gunmetal Eyes"
				year="2015"
				body="First album, comprised of several demo sessions recorded at Burn the Furniture in Chicago."
				cover="gunmetalEyes.jpeg"
				songs={["Pedagogue" , "Black Holes" , "These Kids", "Run Away", "Gunmetal Eyes", "Data Driven", "Another Day in the Life", "Clownfish", "2ong", "Set Them Off"]}
			/>
			<Card
				href="https://www.dropbox.com/scl/fi/6pzq9ki2i7r2fhc8i1gcb/MegaMaul-mini-mall-FLAC.zip?rlkey=obqcwbcw31vk3hm96k4zbl8vc&dl=0"
				title="MegaMaul - Mini-Mall + extras"
				year="2015"
				body="Unfortunately short-lived band due to a move, this is everything the band recorded (in FLAC format)."
				cover="miniMall.jpeg"
				songs={["This Rapport" , "Textile Hero" , "Swan Songs", "Tunnel Rat", "The Planck Length", "Flying Fortress", "Summer Chords", "Asshat", "Oceans"]}
			/>
			<Card
				href="https://www.dropbox.com/scl/fi/ua4bgnod0lpb31wf2ycar/Brian-Pennington-Fauxsrite.zip?rlkey=n924e9089hvpdwiedhpmb94rj&dl=0"
				title="Fauxsrite"
				year="2014"
				body="Solo recording made during the 'polar vortex' freeze of early 2014: written and recorded within a 2 and a half week period."
				cover="Fauxsrite.jpeg"
				songs={["Always a Catch" , "I Want Out" , "Tiny Houses", "We'll Never Make It", "Burial Playgrounds", "Stairwell", "Painfully Slow", "No Ideas"]}
			/>
			<Card
				href="https://www.dropbox.com/scl/fi/vmapzllhyf4k6fly1n5op/Radiant-Republic-Three-Against-Four.zip?rlkey=0f5b99x6miw4trzbc4ja73sky&dl=0"
				title="Radiant Republic - Three Against Four"
				year="2013"
				body="2nd album from the project, and the first recorded with the live version of the band, originally released by Sick Room Records."
				cover="3vs4.jpeg"
				songs={["Someone Else's Golden Era" , "Second to Last" , "Care Enough to Care", "Given Time", "High Road", "Ghost Towns of the Future", "Lead the Way", "Variations IX", "Salvaging Act"]}
			/>
			<Card
				href="https://www.dropbox.com/scl/fi/vy2uaa49jk18jlab60pvs/Loex-Shanks-AAC.zip?rlkey=tzbrgwyinmwatnnjxi7txm0s8&dl=0"
				title="Loex - Shanks"
				year="2012"
				body="Improvisational rock duo, recorded on a lovely June day in the Armitage Shanks recording/rehearsal room in Logan Square. (256kbps AAC)"
				cover="shanksImage.jpeg"
				songs={["Videos of Surfers.." , "Fool in the Lava" , "Tighten Up/Doom", "Kinda Blew", "Moderately-priced Jazz", "Song 11", "Kicking Moses", "Shanks", "Shit Blowing Up"]}
			/>
			<Card
				href="https://www.dropbox.com/scl/fi/3gq2nagk97r33ns2c8fuf/Radiant-Republic-Madness-Is-Not-Having-Enough-Time-to-Lose-Your-Mind.zip?rlkey=ookdrvhcdln4clofa808i1zu1&dl=0"
				title="Radiant Republic - Madness is Not Having Enough Time to Lose Your Mind"
				year="2011"
				body="Another solo effort after a few years away from the project, recorded with Kris Poulin after one of the biggest Chicago snow storms ever."
				cover="Madness.jpeg"
				songs={["This Shouldn't Exist" , "Broken in D" , "Bridget Melting", "Firewalk With Someone Else", "DYALAOC"]}
			/>
			<Card
				href="https://www.dropbox.com/scl/fi/79f289jjz37v04xt0yn88/B_D-2009.zip?rlkey=1izhd9k4hy8ovl3eo6f21jzdr&dl=0"
				title="Builder/Destroyer - Yeche Session"
				year="2009"
				body="Band that existed between '08-'10 that never materialized with a record, only this session from Electrical Audio that we weren't entirely happy with TBH. (WAV files)"
				cover="builddestroy2.jpeg"
				songs={["City Cannot Save", "Anticipate the Light"]}
			/>
			<Card
				href="https://www.dropbox.com/scl/fi/v6kn2853y67hnhobokaow/Radiant-Lightning-Always-Strikes-Something.zip?rlkey=jqaouy8yrteg30ucr5w64dltl&dl=0"
				title="Radiant Republic - Lightning Always Strikes Something"
				year="2005"
				body="First full length (and fairly ambitious solo effort) Radiant album recorded over 5 days in May of 2005 at Electrical Audio. (256kbps AAC)"
				cover="radiantLightning.jpeg"
				songs={["Littleton" , "Less is More, More or Less" , "Can't Build Rome", "Grandfather Clock", "Manute Bol", "More of Less is More", "F#", "Deaf Lumberjack"]}
			/>
		</ul>
		<h6 class="stream-less">Stream less. 🌿</h6>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -10px;
		left: 52%;
		transform: translatex(-50%);
		width: 500px;
		height: auto;
		opacity: .5;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	h3 {
		font-size: .9rem;
		text-align: center;
	}
	.paypal-button {
		padding-top: 1rem;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.about {
		text-align: center;
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.about code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.about strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
	.stream-less {
		text-align: center;
	}
</style>
